<% if(currUser){ %>
<hr />
<p style="color: black"><b>Leave a Comment</b></p>
<form
  method="post"
  action="/listings/<%= listing._id%>/reviews"
  novalidate
  class="needs-validation"
>
  <div class="mt-3">
    <label for="rating" class="form-label">Rating</label>
    <fieldset class="starability-slot">
      <input
        type="radio"
        id="no-rate"
        class="input-no-rate"
        name="review[rating]"
        value="1"
        checked
        aria-label="No rating."
      />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
  <div class="mt-3">
    <label for="comment" class="form-label">Comment</label>
    <textarea
      name="review[comment]"
      id="comment"
      cols="30"
      rows="3"
      class="form-control"
      required
    ></textarea>
  </div>
  <br />
  <button class="btn btn-outline-dark">Send</button>
</form>
<%} %> <% if(listing.reviews.length >0) {%>
<hr />
<p style="color: black"><b>Reviews</b></p>
<div class="reviews">
  <%for(let review of listing.reviews){ %>
  <div class="card review-card">
    <div class="card-body">
      <p style="color: black" class="card-title">
        <b
          ><i class="fa-solid fa-circle-user"></i
          >&nbsp;<%=review.author.username %></b
        >
      </p>
      <p class="card-text">
        <small class="starability-result" data-rating="<%= review.rating %>">
        </small
        ><br /><br />
        <%= review.comment %>
      </p>
      <% if(currUser && currUser._id.equals(review.author._id)) {%>
      <form
        method="post"
        action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE"
      >
        <button class="btn btn-dark btn-sm">
          <i class="fa-solid fa-trash"></i>
        </button>
      </form>
      <%} %>
    </div>
  </div>
  <% } %> <%} %>
</div>
